footer {
  width: auto;
  height: 115px;
  background-color: #233D4D;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px
}
footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f2f6;
}

.link .item {
  font-family:monospace,Microsoft JhengHei;
  color:#a4b0be;
  width: 130px;
  text-align: center;
  cursor: pointer;
}

.link .item:hover {
  color: #ffffff;
}

footer .copyright {
  font-family:monospace,Microsoft JhengHei;
  width: 250px;
  color: #828282;
}
