header {
  width: auto;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #233D4D;
  margin-bottom: 15px;
}

.logo {
  height: 100px;
  margin-left: 8%;
}

.memberdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.memberdiv a {
  text-decoration: none;
}

.hitext {
  font-family: monospace , Microsoft JhengHei;
  font-size: 30px;
  margin-right: 5px;
  color: rgba(47, 53, 66,1.0);
}

.member {
  transition : 0.5s;
}

.member:hover{
  content : url('../icon/member-hover.png');
  transform : scale(1.1);
}
