@import "header.css";
@import "footer.css";
@keyframes  updown  {
	  20% { transform:  translateY(20px); }
	 	60% { transform:  translateY(8px); }
		100% { transform:  translateY(0px); }
	}


.profile {
  min-height: calc(100vh - 135px);
  width: auto;
  position: relative;
  text-align:center
}

#memberdiv {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height : 100%;
}

#signindiv {
  position: absolute;
  display: none;
  flex-direction: row;
  border : 2px solid #233D4D;;
  width: 600px;
  height : 400px;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -300px;
	border-radius: 5px;
	background-color:rgba(236, 240, 241,0.5);
}


/* memberdiv  */
.tourlist {
	 height: 100%;
	 width: 70%;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-start;
	 align-items: center;
	 overflow: auto;
}

.onetour {
	border: 1.5px solid #FFBC42;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 2% 0 ;
	width: 80%;
	cursor: pointer;
	transition: 0.5s;
	text-decoration: none;
}

.onetour:hover{
	border: 4px solid #FFBC42;
}

.tourimg {
	margin: 1%;
	border: 2px solid #233D4D;
  border-radius: 50%;
  padding: 2%;
}

.tourtitle {
	font-family: monospace , Microsoft JhengHei;
	font-size: 30px;
	color : #233D4D;
}

.tourId {
	margin-left: auto;
	font-family: monospace;
	color: #ced6e0;
}

.deletetour {
	width: 40px;
	margin: 0 10px;
	transition: 0.5s;
	padding: 20px 0;
}

.deletetour:hover {
	content : url('../icon/trashhover.png');
}

.memberdetail {
	 height: 100%;
	 width:30%;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: flex-start;
	 font-family: monospace,'微軟正黑體';
	 border-left: 2px solid rgba(116, 125, 140,1.0);
}

.memberprofile {
	 max-width: 150px;
	 max-height: 150px;
	 margin-top: 40%;
}

.memberid {
	 font-size:15px;
	 color : rgba(113, 128, 147,1.0);
	 margin : 4% 0;
}

.membername {
 	 font-size: 30px;
	 color: #233D4D;
}

.memberemail {
	 color : #233D4D;
	 font-size:20px;
	 margin : 2% 0;
}

.logout {
	margin-top: 5%;
	font-family: monospace , '微軟正黑體';
	border-bottom: 1px solid #233D4D;
	display: none;
	cursor: pointer;
}

/* confirm delete div */
#confirmdelete {
	position: absolute;
  display: none;
  border : 2px solid #233D4D;
  width: 450px;
  height : 160px;
  top: 50%;
  left: 50%;
  margin: -80px 0 0 -225px;
	border-radius: 5px;
	background-color:rgba(236, 240, 241,0.5);
	font-family: monospace , Microsoft JhengHei;
}

#confirmdelete p {
	font-size: 20px;
	width: auto;
}

.confirmdeletebtndiv {
	display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height:  45%;
  width: 100%;
  align-self: flex-end;
}

.yes , .no {
  font-size: 20px;
  padding: 1% 5%;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #233D4D;
}
